.navbar {
    background: #292622;
    color: white;
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.menulistitem {
    margin: 1rem;
    cursor: pointer;
    color: white;
    text-decoration: none; 
    font-weight: 400;
    font-size: 1rem;
}

.menulistitem:hover {
    color: rgb(239, 164, 23);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(239, 164, 23);
    font-weight: 500;
}


.contactImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.contactBtn {
    background: rgb(239, 164, 23);
    color: #292622;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}

.contactItem {
    text-decoration: none;
}

.contactBtn:hover {
    background: white;
    color: #292622;
    font-weight: 500;
    text-decoration: none;
}

